@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

html {
    font-size: 62.5%;
}

.grid-container {
    display: grid;
    grid-template-columns: minmax(25%, 1fr) minmax(50%, 2fr) minmax(25%, 1fr);
    grid-template-rows: minmax(10%, 2fr) minmax(85%, 3fr) minmax(15%, 2fr);
    min-width: 301px;
    min-height: 545px;
    height: 100vh;
}

#main-header-container {
    background-color: #7DD6FA;
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-main {
    display: flex;
}

.title-text > h1 {
    font-size: 3rem;
}

#content-main {
    grid-area: 2 / 1 / 3 / 4;
}

.bg-image {
    background-image: url(./images/weather-page.jpg);
    background-size: cover;
    background-position: center;
    grid-area: 2 / 1 / 4 / 4;
}


@media (max-height: 750px) {
    .weather-info {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
}

.mask {
    background-color: rgba(36, 38, 38, 0.635);
}

.main-search {
    max-width: 45%;
    background: linear-gradient(
        45deg,
        hsla(33, 85%, 52%, 0.4),
        hsla(231, 88%, 45%, 0.4)
    );
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    border: 0.3rem solid rgba(255, 255, 255, 0.4);
    background-clip: padding-box;
}

@media (max-width: 941px){
    .main-search {
        max-width: 90%;
        max-height: 90%;
    }

}

.mask-custom {
    width: 40%;
    min-width: 30rem;
    display: flex;
    flex-flow: column;
    position: relative;
    background: linear-gradient(
        45deg,
        hsla(33, 85%, 52%, 0.4),
        hsla(231, 88%, 45%, 0.4)
    );
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    border: 0.3rem solid rgba(255, 255, 255, 0.4);
    background-clip: padding-box;
}

.wrapper-search {
    flex-flow: column wrap;
}

.search-area {
    align-self: center;
    padding-left: 5rem;
    padding-right: 3rem;
}

.search-section > h1 {
    font-size: 3rem;
}

.fa-search {
    font-size: 2rem;
    color: rgb(252, 164, 0);
}

.weather {
    display: flex;
    flex-flow: column;
}

.weather.loading {
    visibility: hidden;
    max-width: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Carregando...";
    color: white;
    position: absolute;
    top: 0;
}

.city {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

.text-white > h2 {
    font-size: 3rem;
}

.description {
    text-transform: capitalize;
}

.icon {
    font-size: 1.5em;
    color: rgb(39, 52, 95);
}

.icon > i {
    color: rgb(252, 164, 0);
}

.footer-main-container {
    width: 100%;
    grid-area: 3 / 1 / 4 / 4;
    background: #7db7fa;
}

.footer-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-small-text {
    font-size: 1.9rem;
    color: black;
}

.main-logo {
    text-decoration: none;
}