* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    min-width: 300px;
    overflow-y: hidden;
}

main {
    height: 100vh;
}

.bg-image {
    background-image: url(./images/weather-page.jpg);
    max-width: 100%;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.main-header-container {
    background-color: #7DD6FA;
}

.header-main {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 144rem;
    padding: 2rem;
}

.return-button {
    width: 8rem;
    height: 5rem;
}

.title-text {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.title-text > h1 {
    font-size: 3rem;
}

.main-search {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}
 
.mask {
    background-color: rgba(36, 38, 38, 0.635);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask-custom {
    height: 50rem;
    width: 55rem;
    background: linear-gradient(
        45deg,
        hsla(33, 85%, 52%, 0.4),
        hsla(231, 88%, 45%, 0.4)
    );
    backdrop-filter: blur(15px);
    border-radius: 1rem;
    border: 0.3rem solid rgba(255, 255, 255, 0.4);
    background-clip: padding-box;
}

.search-section > h1 {
    font-size: 3rem;
}

#search-container {
    height: fit-content;
}

.fa-search {
    color: rgb(252, 164, 0);
}

/* .weather.loading {
    visibility: hidden;
}

.weather.loading::after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
} */

/* .text-white > h2 {
    font-size: 3rem;
} */

/* h3 {
    font-size: 2rem;
    font-weight: 100;
} */

.description-wrapper {
    margin-bottom: 4rem;
}

.description {
    text-transform: capitalize;
}